<ion-view view-title="My Account">
    <ion-content class="padding account">
        <ion-list>
            <ion-item class="item item-icon-right" href="#/app/account/details">
                Personal Details
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <ion-item class="item item-icon-right" href="#/app/account/details">
                My Orders
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <ion-item class="item item-icon-right" href="#/app/account/details">
                My Wallet
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <ion-item class="item item-icon-right" href="#/app/account/details">
                Change Password
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>